//
//  Production.xcconfig
//  gat
//
//  Created by jujien on 8/15/20.
//  Copyright © 2020 GaTBook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = GaT.app.vn

google_clien_id = 1053472590152-qkmve42h87ibnjhr1b5au42di98717aj.apps.googleusercontent.com

admob_application_id = ca-app-pub-2557988302651232~7479980792

ad_unit_id = ca-app-pub-2557988302651232/8537733986

twitter_consumer_secret = iiUTGYNsXTpwhtmGVIfxEtkBhVHl6VLNrKD4hDxZ2fwNyk9Jdl

twitter_consumer_key = gKxGJeazBQC8Mk5AwLZeMUxcC

google_map_api_key = AIzaSyBJRGGFPCM2YKGTeRaRNkbYIs8_-Uuj0vc

api_url = https:/$()/production.gatbook.org/rest/api/

api_url_v2 = https:/$()/productionv2.gatbook.org/api/v1/

previous_days = 1000

idGAT = 966586
